body {
    background-color: #000000;
    margin: 0;
    font-family: 'Avenir', sans-serif;
    color: #ffffff;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; 
}

header {
    background-color: #000000; 
    color: #ecf0f1; 
    padding: 10px;
    text-align: center;
}

header h1 a {
    text-decoration: none; 
    color: #ecf0f1;
}

header h1 a:hover {
    color: #fff; 
}

h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    margin-right: 10px; 
}

nav li:last-child {
    margin-right: 0; 
}

nav li a {
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav li a:hover {
    background-color: #000000; 
}

section {
    text-align: center;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

#map {
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

footer {
    background-color: #1e016f; 
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both; 
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

footer li a {
    color: #fff;
    text-decoration: none;
}

footer li a:hover {
    text-decoration: underline;
}
